$primary: #209CEE;
$secondary: #7a9e7e;
$text-primary: #ffffff;
$text-secondary: #000000;
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Nunito&display=swap');

.nav-heading {
  font-family: Leckerli One;
  font-size: 35px;
}

.row {
  text-align: center;
  color: $text-primary;
  padding-bottom: 30px;
}

.outerDiv {
  background-color: $primary;
  padding: 10px;
  border-radius: 10px;
  .innerDiv{
    color: $text-secondary;
    margin: 5px;
    padding: 5px;
    border: solid 0px white;
    border-radius: 10px;
  }
}

.link {
  text-decoration: none;
  color: $text-primary;
  :hover {
    text-decoration: none;
    color: $text-primary;
  }
}

.btn {
  margin: 2px;
}

.img-responsive {
  width: 50%;
  height: auto;
  display: block;

}

.link-front {
  font-size: 18px;
}

.create-btn,
.signIn-btn {
  border-color: white;
}

// .userPostIndex {
//   background-color: $primary;
//   padding: 10px;
//   border-radius: 10px;
// }

.box {
  display: flex;
  background-color: $primary;
  flex-direction: column;
  margin-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  justify-items: center;
  align-items: center;
}

.title {
  display: flex;
  border-radius: 10px;
  background-color: none;
  color: $text-primary;
  justify-content: center;
  width: 100%;
  color: $text-primary;
  margin-top: 15px;
}

.posts {
  display: flex;
  border-radius: 10px;
  background-color: white;
  color: $text-primary;
  justify-content: center;
  width: 95%;
  height: auto;
  color: $text-secondary;
  margin-top: 10px;
  padding: 10px;
}
